<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<title>Rating List</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a th:href="@{/bidList/list}">Bid List</a>&nbsp;|&nbsp;
			<a th:href="@{/curvePoint/list}">Curve Points</a>&nbsp;|&nbsp;
			<a th:href="@{/rating/list}">Ratings</a>&nbsp;|&nbsp;
			<a th:href="@{/trade/list}">Trade</a>&nbsp;|&nbsp;
			<a th:href="@{/rule/list}">Rule</a>
		</div>
		<div class="col-6 text-right">
			Logged in user:
			<b class="user" sec:authentication="name">username</b>
			
			<form th:action="@{/app-logout}" method="POST" style="display:inline;">
				<button type="submit" class="btn btn-link p-0 m-0">Logout</button>
			</form>
		</div>
	</div>
	
	<!-- Messages flash -->
	<div th:if="${successMessage}" class="alert alert-success mt-2">
		<span th:text="${successMessage}"></span>
	</div>
	
	<div th:if="${errorMessage}" class="alert alert-danger mt-2">
		<span th:text="${errorMessage}"></span>
	</div>
	
	<div class="row"><h2>Rating List</h2></div>
	
	<div class="row">
		<a th:href="@{/rating/add}" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>Id</th>
				<th>MoodysRating</th>
				<th>SandPRating</th>
				<th>FitchRating</th>
				<th>Order</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="rating : ${ratings}">
				<td style="width: 10%" th:text="${rating.ratingId}"></td>
				<td th:text="${rating.moodysRating}"></td>
				<td th:text="${rating.sandPRating}"></td>
				<td th:text="${rating.fitchRating}"></td>
				<td th:text="${rating.orderNumber}"></td>
				<td style="width: 15%" class="text-center">
					<a th:href="@{/rating/update/{id}(id=${rating.ratingId})}">Edit</a>&nbsp;|&nbsp;
					<a th:href="@{/rating/delete/{id}(id=${rating.ratingId})}">Delete</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>