<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>User List</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
		
		</div>
		<div class="col-6 text-right">
			<a th:href="@{/}">Home</a>&nbsp;|&nbsp;<a th:href="@{/app/login}">Login</a>
		</div>
	</div>
	<div class="row"><h2>User List</h2></div>
	
	<!-- Messages flash -->
	<div th:if="${successMessage}" class="alert alert-success mt-2">
		<span th:text="${successMessage}"></span>
	</div>
	
	<div th:if="${errorMessage}" class="alert alert-danger mt-2">
		<span th:text="${errorMessage}"></span>
	</div>
	
	<div class="row">
		<a th:href="@{/user/add}" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>Id</th>
				<th>Full Name</th>
				<th>User Name</th>
				<th>Role</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="user : ${users}">
				<td style="width: 10%" th:text="${user.userId}"></td>
				<td th:text="${user.fullname}"></td>
				<td th:text="${user.username}"></td>
				<td style="width: 25%" th:text="${user.role}"></td>
				<td style="width: 15%" class="text-center">
					<a th:href="@{/user/update/{id}(id=${user.userId})}">Edit</a>&nbsp;|&nbsp;
					<a th:href="@{/user/delete/{id}(id=${user.userId})}">Delete</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>