<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h2>Connexion</h2>
<div th:if="${param.error}">
	<p style="color:red;">Identifiants invalides</p>
</div>

<form th:action="@{/app/login}" method="post">
	
	<label>Nom d'utilisateur :</label>
	<input type="text" name="username"/><br/><br/>
	
	<label>Mot de passe :</label>
	<input type="password" name="password"/><br/><br/>
	
	<button type="submit">Se connecter</button>
</form>
</body>
</html>